#edinburgh {
  background: url(https://i.imgur.com/plVVSII.jpg);
  @include background;
}

#black-country {
  background: url(https://i.imgur.com/QCczDMf.jpg);
  @include background;
}

#ruhr {
  background: url(https://i.imgur.com/rS7Q1g4.jpg);
  @include background;
}

#paulista {
  background: url(https://i.imgur.com/h5thZXe.jpg);
  @include background;
}

#second-city {
  background: url(https://i.imgur.com/2ibwqli.jpg);
  @include background;
}

#north-london {
  background: url(https://i.imgur.com/m9eM9bP.jpg);
  @include background;
}

#tyne-wear {
  background: url(https://i.imgur.com/zR4NW8z.jpg);
  @include background;
}

#dockers {
  background: url(https://i.imgur.com/dDbM04z.jpg);
  @include background;
}

#fla-flu {
  background: url(https://i.imgur.com/b4wkJLO.jpg);
  @include background;
}

#di-milano {
  background: url(https://i.imgur.com/PyJl3iU.jpg);
  @include background;
}

#north-west {
  background: url(https://i.imgur.com/OC2RGvc.jpg);
  @include background;
}

#della-capitale {
  background: url(https://i.imgur.com/EOjziW8.jpg);
  @include background;
}

#adversaries {
  background: url(https://i.imgur.com/8K1MCof.jpg);
  @include background;
}

#clasico {
  background: url(https://i.imgur.com/nQD2Wvl.jpg);
  @include background;
}

#klassieker {
  background: url(https://i.imgur.com/5TTyVTj.jpg);
  @include background;
}

#cairo {
  background: url(https://i.imgur.com/x0jXSBJ.jpg);
  @include background;
}

#intercontinental {
  background: url(https://i.imgur.com/JhPY3Jh.jpg);
  @include background;
}

#eternal {
  background: url(https://i.imgur.com/MrX0cYW.jpg);
  @include background;
}

#old-firm {
  background: url(https://i.imgur.com/SuIjk0X.jpg);
  @include background;
}

#superclasico {
  background: url(https://i.imgur.com/LRtdATb.jpg);
  @include background;
}