@mixin reset {
  margin: 0; padding: 0;
}

body {
  @include reset;
  font-family: 'Cormorant Garamond', sans-serif;

  // Scroll Snapping, Firefox Only. Issue - forces intersection observer to load 100vh  elements before in view.
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
  scroll-snap-points-y: repeat(100%);
}

.rivalry {
  height: 100vh; width: 100%; color: black;
  position: relative; overflow: hidden;

  // Scroll Snapping, Firefox Only
  scroll-snap-align: start;
}

@mixin background {
  background-size: cover; background-position: center center; background-attachment: fixed;
}

.overlay {
  position: absolute; width: 100%; background: radial-gradient(rgba(236, 219, 192, 0.75), rgba(217, 198, 168, 0.75));
}

.swipe {
  margin: 15vh 0; height: 70vh; opacity: 0;
  &.in {
    margin: 0; height: 100vh; opacity: 1;
    transition: opacity 1000ms ease-out;
  }
}

@import 'backgrounds';

.rivalry--details {
  position: absolute;
  top: 20%; left: 8%; right: 8%;
}

.rivalry--name {
  @include reset;
  padding-bottom: 1.33rem;
  font-family: 'Playfair Display', sans-serif; font-size: 3rem; font-weight: 700; line-height: 1.25;
}

.rivalry--info {
  @include reset;
	padding-bottom: .8rem;
  font-weight: 600; font-size: 1.2rem; line-height: 1.25;
}

.info--big {
  font-size: 1.5rem;
}

.bottom {
  bottom: 20%; left: 8%; right: 8%; position: absolute;
}

.tight {
	font-size: 1.2rem; line-height: 1.5; max-width: 600px;
}

@mixin transition-in {
  transition: transform 660ms 330ms cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 660ms 450ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.outleft {
  transform: translateX(-2rem); opacity: 0;
  @include transition-in;
  &.in {
    transform: translateX(0); opacity: 1;
  }
}

.outup {
  transform: translateY(-2rem); opacity: 0;
  @include transition-in;
  &.in {
    transform: translateY(0); opacity: 1;
  }
}

@media screen and (min-width: 760px) {
  .rivalry--name {
    padding-bottom: 2.25rem;
    font-size: 5rem; line-height: .9;
  }
  .rivalry--info {
    padding-bottom: .6rem;
    font-size: 1.6rem; line-height: 1.25;
  }
  .info--big {
    font-size: 1.8rem;
  }  
  .tight {
    max-width: 650px; line-height: 1.33; font-size: 1.4rem;
  }
}